.nav-link{
    color: black;
    text-decoration : none;
    padding: 0.3rem 1rem;
}
.nav-link-active{
    color : var(--main-pink);
    text-decoration : none;
    padding: 0.3rem 1rem;
}
.nav-link:hover{
    color : var(--main-pink);
    transition : all 0.2s ease-out;
}

